#### SECTION A BATCH 1
#### WEEK 4 DATE: 7th APRIL 2022
### EXER 1

In [293]:
# Importing required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [294]:
# to ignore warnings
import warnings
warnings.filterwarnings('ignore')

### 1. Use the German credit rating dataset “German Credit Data.csv” , Decision treeclassifier to predict good or bad credit. Use “sklearn.model_selection” and GridSearchCV to search the hyperparameter values and report the most optimal one. Configure the grid search to search for optimal parameters:
* Splitting criteria: gini or entropy.
* Maximum depth of decision tree ranging from 2 to 10.
* The searching of optimal parameter will be validated using 10-fold cross validation and the most optimal parameter will be chosen based on ROC AUC score

In [295]:
# https://archive.ics.uci.edu/ml/datasets/statlog+(german+credit+data)

# Importing the dataset
df = pd.read_csv("German Credit Data.csv")
df.head()

,checkin_acc,duration,credit_history,amount,savings_acc,present_emp_since,inst_rate,personal_status,residing_since,age,inst_plans,num_credits,job,status
0,A11,6,A34,1169,A65,A75,4,A93,4,67,A143,2,A173,0
1,A12,48,A32,5951,A61,A73,2,A92,2,22,A143,1,A173,1
2,A14,12,A34,2096,A61,A74,2,A93,3,49,A143,1,A172,0
3,A11,42,A32,7882,A61,A74,2,A93,4,45,A143,1,A173,0
4,A11,24,A33,4870,A61,A73,3,A93,4,53,A143,2,A173,1

In [296]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   checkin_acc        1000 non-null   object
 1   duration           1000 non-null   int64
 2   credit_history     1000 non-null   object
 3   amount             1000 non-null   int64
 4   savings_acc        1000 non-null   object
 5   present_emp_since  1000 non-null   object
 6   inst_rate          1000 non-null   int64
 7   personal_status    1000 non-null   object
 8   residing_since     1000 non-null   int64
 9   age                1000 non-null   int64
 10  inst_plans         1000 non-null   object
 11  num_credits        1000 non-null   int64
 12  job                1000 non-null   object
 13  status             1000 non-null   int64
dtypes: int64(7), object(7)
memory usage: 109.5+ KB

In [297]:
df.columns

Index(['checkin_acc', 'duration', 'credit_history', 'amount', 'savings_acc',
       'present_emp_since', 'inst_rate', 'personal_status', 'residing_since',
       'age', 'inst_plans', 'num_credits', 'job', 'status'],
      dtype='object')

In [298]:
df.isnull().sum()

checkin_acc          0
duration             0
credit_history       0
amount               0
savings_acc          0
present_emp_since    0
inst_rate            0
personal_status      0
residing_since       0
age                  0
inst_plans           0
num_credits          0
job                  0
status               0
dtype: int64

In [299]:
cat_cols = df.select_dtypes(include = ['object']).copy()
cat_cols.columns

Index(['checkin_acc', 'credit_history', 'savings_acc', 'present_emp_since',
       'personal_status', 'inst_plans', 'job'],
      dtype='object')

In [300]:
from sklearn.preprocessing import LabelEncoder
for i in cat_cols.columns:
    df[i] = LabelEncoder().fit_transform(df[i])

In [301]:
df.head()

,checkin_acc,duration,credit_history,amount,savings_acc,present_emp_since,inst_rate,personal_status,residing_since,age,inst_plans,num_credits,job,status
0,0,6,4,1169,4,4,4,2,4,67,2,2,2,0
1,1,48,2,5951,0,2,2,1,2,22,2,1,2,1
2,3,12,4,2096,0,3,2,2,3,49,2,1,1,0
3,0,42,2,7882,0,3,2,2,4,45,2,1,2,0
4,0,24,3,4870,0,2,3,2,4,53,2,2,2,1

In [302]:
# Splitting predictor and response variables

X = df.drop(columns = ['status'],axis = 1)
y = df.status

In [303]:
# splitting the dataset into train and test datasets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 40)

In [304]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
# from sklearn.cross_validation import cross_val_score

gs = GridSearchCV(DecisionTreeClassifier(random_state = 5, criterion = "gini",
                    max_depth = 10),param_grid={"min_samples_split": 
                    range(2, 403, 10)})
gs.fit(X,y.values.ravel())
y_pred = gs.predict(X_test)
results = gs.cv_results_
results

{'mean_fit_time': array([0.00358958, 0.00299706, 0.00259299, 0.00061436, 0.00270786,
        0.00339065, 0.0008956 , 0.00211048, 0.        , 0.00312405,
        0.        , 0.        , 0.00312448, 0.00312424, 0.00312424,
        0.00312433, 0.00443273, 0.00202804, 0.00081816, 0.00160913,
        0.00349274, 0.00199475, 0.00178728, 0.00222201, 0.00082445,
        0.00161581, 0.00202041, 0.00202532, 0.00201836, 0.00040917,
        0.00201936, 0.00160999, 0.00201979, 0.00201898, 0.00040879,
        0.00395498, 0.00179524, 0.00105863, 0.00202212, 0.00201783,
        0.00202212]),
 'std_fit_time': array([7.90803561e-04, 1.23689390e-05, 4.89358775e-04, 1.22871399e-03,
        5.41572571e-03, 6.78129196e-03, 1.10773289e-03, 8.85541487e-04,
        0.00000000e+00, 6.24809265e-03, 0.00000000e+00, 0.00000000e+00,
        6.24895096e-03, 6.24847412e-03, 6.24847412e-03, 6.24866486e-03,
        6.14154216e-03, 3.13262719e-03, 1.00203546e-03, 3.21826935e-03,
        2.52706600e-03, 1.90734863e-07, 3.95272396e-04, 2.73905484e-03,
        1.00980943e-03, 3.21424451e-03, 3.11823691e-03, 3.13049433e-03,
        3.12835763e-03, 8.18347931e-04, 3.11749283e-03, 3.21998596e-03,
        3.12006808e-03, 3.11547035e-03, 8.17584991e-04, 4.11103917e-03,
        3.98969722e-04, 9.08401774e-04, 3.12431275e-03, 3.11518405e-03,
        3.12376127e-03]),
 'mean_score_time': array([0.00120373, 0.00099187, 0.00099802, 0.00313015, 0.        ,
        0.        , 0.00019956, 0.00059862, 0.00312433, 0.        ,
        0.        , 0.00312457, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.00160947, 0.00040913,
        0.00099754, 0.0009973 , 0.00099745, 0.00019946, 0.00161657,
        0.00161371, 0.0004087 , 0.00160308, 0.        , 0.00160923,
        0.0020175 , 0.        , 0.0016088 , 0.00040865, 0.00161757,
        0.00019941, 0.00079789, 0.00019946, 0.00202456, 0.        ,
        0.        ]),
 'std_score_time': array([4.09989774e-04, 1.21311721e-05, 1.36545382e-06, 6.26029968e-03,
        0.00000000e+00, 0.00000000e+00, 3.99112701e-04, 4.88772308e-04,
        6.24866486e-03, 0.00000000e+00, 0.00000000e+00, 6.24914169e-03,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 3.21893692e-03, 8.18252563e-04,
        5.22348936e-07, 2.61174468e-07, 2.86102295e-07, 3.98921967e-04,
        3.23314667e-03, 3.22742462e-03, 8.17394257e-04, 3.20615768e-03,
        0.00000000e+00, 3.21846008e-03, 3.11527295e-03, 0.00000000e+00,
        3.21760178e-03, 8.17298889e-04, 3.23514938e-03, 3.98826599e-04,
        3.98945848e-04, 3.98921967e-04, 3.12901805e-03, 0.00000000e+00,
        0.00000000e+00]),
 'param_min_samples_split': masked_array(data=[2, 12, 22, 32, 42, 52, 62, 72, 82, 92, 102, 112, 122,
                    132, 142, 152, 162, 172, 182, 192, 202, 212, 222, 232,
                    242, 252, 262, 272, 282, 292, 302, 312, 322, 332, 342,
                    352, 362, 372, 382, 392, 402],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'min_samples_split': 2},
  {'min_samples_split': 12},
  {'min_samples_split': 22},
  {'min_samples_split': 32},
  {'min_samples_split': 42},
  {'min_samples_split': 52},
  {'min_samples_split': 62},
  {'min_samples_split': 72},
  {'min_samples_split': 82},
  {'min_samples_split': 92},
  {'min_samples_split': 102},
  {'min_samples_split': 112},
  {'min_samples_split': 122},
  {'min_samples_split': 132},
  {'min_samples_split': 142},
  {'min_samples_split': 152},
  {'min_samples_split': 162},
  {'min_samples_split': 172},
  {'min_samples_split': 182},
  {'min_samples_split': 192},
  {'min_samples_split': 202},
  {'min_samples_split': 212},
  {'min_samples_split': 222},
  {'min_samples_split': 232},
  {'min_samples_split': 242},
  {'min_samples_split': 252},
  {'min_samples_split': 262},
  {'min_samples_split': 272},
  {'min_samples_split': 282},
  {'min_samples_split': 292},
  {'min_samples_split': 302},
  {'min_samples_split': 312},
  {'min_samples_split': 322},
  {'min_samples_split': 332},
  {'min_samples_split': 342},
  {'min_samples_split': 352},
  {'min_samples_split': 362},
  {'min_samples_split': 372},
  {'min_samples_split': 382},
  {'min_samples_split': 392},
  {'min_samples_split': 402}],
 'split0_test_score': array([0.7  , 0.705, 0.74 , 0.755, 0.725, 0.715, 0.72 , 0.72 , 0.74 ,
        0.74 , 0.74 , 0.755, 0.76 , 0.76 , 0.76 , 0.76 , 0.76 , 0.76 ,
        0.76 , 0.75 , 0.75 , 0.75 , 0.75 , 0.75 , 0.74 , 0.74 , 0.74 ,
        0.74 , 0.74 , 0.74 , 0.74 , 0.74 , 0.74 , 0.74 , 0.74 , 0.74 ,
        0.74 , 0.74 , 0.74 , 0.74 , 0.74 ]),
 'split1_test_score': array([0.695, 0.71 , 0.73 , 0.715, 0.705, 0.735, 0.72 , 0.715, 0.71 ,
        0.71 , 0.71 , 0.71 , 0.71 , 0.73 , 0.73 , 0.73 , 0.735, 0.735,
        0.735, 0.725, 0.725, 0.725, 0.725, 0.725, 0.725, 0.725, 0.72 ,
        0.72 , 0.72 , 0.72 , 0.72 , 0.72 , 0.72 , 0.72 , 0.72 , 0.72 ,
        0.72 , 0.72 , 0.72 , 0.72 , 0.72 ]),
 'split2_test_score': array([0.66 , 0.68 , 0.695, 0.705, 0.75 , 0.755, 0.755, 0.74 , 0.75 ,
        0.745, 0.745, 0.745, 0.745, 0.745, 0.745, 0.745, 0.745, 0.745,
        0.745, 0.75 , 0.75 , 0.75 , 0.75 , 0.75 , 0.765, 0.765, 0.765,
        0.765, 0.765, 0.765, 0.765, 0.765, 0.765, 0.715, 0.715, 0.715,
        0.715, 0.715, 0.715, 0.715, 0.715]),
 'split3_test_score': array([0.685, 0.72 , 0.705, 0.71 , 0.72 , 0.695, 0.695, 0.68 , 0.68 ,
        0.68 , 0.68 , 0.68 , 0.71 , 0.71 , 0.71 , 0.71 , 0.71 , 0.7  ,
        0.7  , 0.7  , 0.7  , 0.7  , 0.7  , 0.7  , 0.7  , 0.7  , 0.7  ,
        0.7  , 0.7  , 0.7  , 0.71 , 0.71 , 0.71 , 0.71 , 0.71 , 0.71 ,
        0.71 , 0.71 , 0.71 , 0.71 , 0.675]),
 'split4_test_score': array([0.69 , 0.68 , 0.7  , 0.7  , 0.72 , 0.725, 0.725, 0.725, 0.725,
        0.725, 0.735, 0.735, 0.735, 0.745, 0.745, 0.745, 0.7  , 0.7  ,
        0.7  , 0.7  , 0.72 , 0.72 , 0.72 , 0.72 , 0.7  , 0.7  , 0.7  ,
        0.7  , 0.7  , 0.705, 0.705, 0.705, 0.705, 0.705, 0.705, 0.705,
        0.705, 0.705, 0.705, 0.705, 0.705]),
 'mean_test_score': array([0.686, 0.699, 0.714, 0.717, 0.724, 0.725, 0.723, 0.716, 0.721,
        0.72 , 0.722, 0.725, 0.732, 0.738, 0.738, 0.738, 0.73 , 0.728,
        0.728, 0.725, 0.729, 0.729, 0.729, 0.729, 0.726, 0.726, 0.725,
        0.725, 0.725, 0.726, 0.728, 0.728, 0.728, 0.718, 0.718, 0.718,
        0.718, 0.718, 0.718, 0.718, 0.711]),
 'std_test_score': array([0.01392839, 0.01624808, 0.01772005, 0.01964688, 0.01462874,
        0.02      , 0.01913113, 0.01984943, 0.02457641, 0.02345208,
        0.02420744, 0.02701851, 0.01964688, 0.01691153, 0.01691153,
        0.01691153, 0.02213594, 0.02420744, 0.02420744, 0.02236068,
        0.01907878, 0.01907878, 0.01907878, 0.01907878, 0.02477902,
        0.02477902, 0.0248998 , 0.0248998 , 0.0248998 , 0.0239583 ,
        0.02204541, 0.02204541, 0.02204541, 0.01208305, 0.01208305,
        0.01208305, 0.01208305, 0.01208305, 0.01208305, 0.01208305,
        0.02130728]),
 'rank_test_score': array([41, 40, 38, 36, 24, 18, 25, 37, 27, 28, 26, 18,  4,  1,  1,  1,  5,
        10, 10, 18,  6,  6,  6,  6, 15, 15, 18, 18, 18, 15, 12, 12, 12, 29,
        29, 29, 29, 29, 29, 29, 39])}

In [305]:
accuracy_score(y_pred,y_test)

0.78

In [306]:
tree_para = {'criterion':['gini','entropy'],'max_depth':[2,3,4,5,6,7,8,9,10]}
grid_search_cv = GridSearchCV(DecisionTreeClassifier(random_state = 42), tree_para, cv = 5)
grid_search_cv.fit(X_train,y_train)
grid_search_cv.best_estimator_

DecisionTreeClassifier(max_depth=3, random_state=42)

In [307]:
def dtree_grid_search(X,y,nfolds):
    #create a dictionary of all values we want to test
    param_grid = { 'criterion':['gini','entropy'],'max_depth': np.arange(2, 10)}
    # decision tree model
    dtree_model=DecisionTreeClassifier()
    #use gridsearch to test all values
    dtree_gscv = GridSearchCV(dtree_model, param_grid, cv=nfolds)
    #fit model to data
    dtree_gscv.fit(X, y)
    return dtree_gscv.best_params_

dtree_grid_search(X,y,10)

{'criterion': 'gini', 'max_depth': 3}

### 2. Visualize the tree using graphviz software.

In [308]:
pip install Graphviz

Requirement already satisfied: Graphviz in c:\programdata\anaconda3\lib\site-packages (0.19.1)
Note: you may need to restart the kernel to use updated packages.

In [309]:
from sklearn.tree import DecisionTreeClassifier
clf_model = DecisionTreeClassifier( random_state=42,max_depth=3, min_samples_leaf=5)   
clf_model.fit(X_train,y_train)
y_predict = clf_model.predict(X_test)

from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
accuracy_score(y_test,y_predict)

0.76

In [ ]:
from sklearn import tree

### 3. Display the text representation of the rules learnt.

## EXER 2

#### Download fuel consumption dataset "FuelConsumption.csv", which contains model-specific fuel consumption ratings and estimated carbon dioxide emissions.

* Select the features 'ENGINESIZE', 'CYLINDERS', 
'FUELCONSUMPTION_COMB', 'CO2EMISSIONS' to use for building the 
model. Plot Emission values with respect to Engine size.

* split the data into training and test sets (70:30) to create a model using training 
set, evaluate the model using test set, and use model to predict unknown value.

* Try to use a polynomial regression with the dataset of degree – 3, 4 & 5. Verify the accuracy by calculating Mean absolute error, Residual sum of squares, R2-score and comment on which model is the best.